@model List<Car>
@{
    ViewData["Title"] = "CarList";
}

<h1>CarList</h1>

<div class="col-12">
    <div class="row">
        <div class="col">
            <h5>Brand</h5>
        </div>
        <div class="col">
            <h5>Model</h5>
        </div>
    </div>
    <hr />

    @*@for (int i = 0; i < Model.Count; i++)
        {
            <partial name="_CarPartial" model="Model[i]" />
        }*@

    @foreach (var item in Model)
    {
        <partial name="_CarPartial" model="item" />
    }

    @*@foreach (var item in Model)
    {
        @await Html.PartialAsync("_CarPartial", item)
    }*@
</div>